<div class="modal modal-image-preview-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body modal-image-preview-body">
                <div class="fa-3x d-none spinner text-center">
                    <i class="fas fa-spinner fa-pulse"></i>
                </div>
                <img alt="imagePreview" class="modal-img" width="100%"/>
            </div>

        </div>
    </div>
</div>